  <%= form_with url: search_path, method: :get, local: true do |f| %>

<span class="start">開始</span>
<div class="top-form">
<div class="top-form_season">
  saesonは？
  <span class="top-form_season_btn">春</span>
  <span class="top-form_season_btn">夏</span>
  <span class="top-form_season_btn">秋</span>
  <span class="top-form_season_btn">冬</span>
  <span class="top-form_season_btn">年中</span>
</div>

<div class="top-form_amenity">
  amenityは？(いる/いらない)
    <span class="top-form_amenity_btn">いる</span>
    <span class="top-form_amenity_btn">いらない</span>
</div>


<div class="top-form_transpotation">
  transpotationは？(いる/いらない)
  <span class="top-form_transpotation_btn">いる</span>
  <span class="top-form_transpotation_btn">いらない</span>
</div>

<div class="top-form_activity_1">
  activityは？
  <span class="top-form_activity_1_1_btn">山</span>
  <span class="top-form_activity_1_2_btn">海</span>
  <span class="top-form_activity_1_3_btn">その他</span>
</div>

  <div class="top-form_activity_2_1">
    <span class="top-form_activity_2_btn"><%= f.label :登山,value: '登山' %><%= f.check_box :keyword ,{ multiple: true }, "登山" %></span>
    <span class="top-form_activity_2_btn">キャンプ</span>
    <span class="top-form_activity_2_btn">川遊び</span>
  </div>

  <div class="top-form_activity_2_2">
    <span class="top-form_activity_2_btn">釣り</span>
    <span class="top-form_activity_2_btn">海水浴</span>
    <span class="top-form_activity_2_btn">ダイビング</span>
  </div>

  <div class="top-form_activity_2_3">
    <span class="top-form_activity_2_btn">遊園地</span>
    <span class="top-form_activity_2_btn">ドライブ</span>
    <span class="top-form_activity_2_btn">自転車旅</span>
  </div>
<%= f.text_field :keyword, value: @keyword %>
<span class="seach"><%= f.submit '検索' %></span>
</div>
<% end %>


  <% @activity.each do |activity| %>

      <% activity.relations.each do |relation| %>
        <%= relation.item.name %>
      <% end %>
  <% end %>